@use '../../vars';
@use '../../mixins';

#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    p {
      font-family: mono;
      font-size: vars.$body2;
      font-weight: 300;
      width: 285px;
    }
}