$IBM_Plex_Sans_Family: sans;

// Regular
@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-Text.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

// Italic

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf');
//     font-weight: 100;
//     font-style: italic;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-TextItalic.ttf');
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: sans;
//     src: url('../../static/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf');
//     font-weight: 700;
//     font-style: normal;
// }
