@use '../vars';

.button {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: vars.$content;
    font-family: vars.$p-font;
    color: vars.$content-invert;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 500px;
    font-weight: 300;
    font-size: vars.$body2;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
      padding: 0 !important;
      margin: 0 !important;
      transition: all 0.3s ease;
    }

    .button-icon {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
}

.primary-button {
  background: vars.$content;

  &.outline {
    background: transparent !important;
    border: solid 1px vars.$content;
    color: vars.$content;

    &:hover {
      background: vars.$content-invert;
      color: vars.$content;
    }
  }
}

.secondary-button {
  background: vars.$bg;
  color: vars.$p-color;

  &.outline {
    background: transparent !important;
    border: solid 1px vars.$bg;
    color: vars.$content-invert;

    &:hover {
      background: vars.$content-invert !important;
      color: vars.$p-color !important;
    }
  }
}