@use '../vars';
@use '../Button/Button';

.footer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: vars.$p-color;
    display: flex;
    flex-direction: column;
    z-index: vars.$footer-index;

    .main-section {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row;
        z-index: 2;

        .info-section {
            position: relative;
            width: 330px;
            padding: vars.$size3;
            border-right: solid 1px vars.$content-invert;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .logotype-wrapper {
                position: relative;
                
                img {
                    margin-bottom: 20px;
                }
            }
            
            .info-wrapper {
                position: relative;
                font-family: vars.$p-font;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .info {
                    color: vars.$content-invert;
                }
            }
        }

        .footer-navigation-section {
            padding: vars.$size2;
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: row;
            font-family: vars.$p-font;
            font-weight: 300;
            gap: 30px;

            .header {
                color: vars.$content-invert;
                padding: vars.$size3;
                border-bottom: solid 1px vars.$content-invert;
            }

            .navigation-section {
                justify-self: stretch;
                display: flex;
                height: 50%;
                flex-direction: column;
            }

            // .footer .main-section .footer-navigation-section #products-section .wrapper {
            //     width: 100%;
            // }
            
            #products-section {
                position: relative;
                width: 100%;
                flex: 8;

                .wrapper {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    gap: vars.$size3;
                    display: flex;
                    flex-direction: row;

                    #core-tech-section {
                        flex: 3;
                        position: relative;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        white-space: nowrap;
                    }

                    #plugins-section {
                        flex: 6;
                        gap: vars.$size3;
                        display: flex;
                        flex-direction: row;
                        

                        .wrapper {
                            gap: 0px;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            #by-need-section {
                flex: 2;
            }
        }
    }

    .bottom-section {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: solid 1px vars.$content-invert;
        padding: vars.$size3;
        gap: 30px;
        z-index: 2;
        

        .footer-item {
            color: vars.$content-invert;
            font-family: vars.$p-font;
        }

        .footer-item::after {
            content: '';
            height: 5px;
            width: 5px;
            background: vars.$content-invert;
        }
    }

    .footer-sketch {
        position: absolute !important;
        width: 100%;
        height: 100%;
        z-index: 1;

    }
}

.nav-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    color: vars.$content-invert;
    padding: vars.$size3;
    border-bottom: solid 1px vars.$content-invert;
}

@media screen and (max-width: 768px) {
    .footer {
        height: auto;
        width: 100%;
        flex-direction: column;

        .main-section {
            flex-direction: column;
            width: 100%;

            .info-section {
                width: 100%;
                border-right: none;
                border-bottom: solid 1px vars.$content-invert;
                gap: vars.$size3;

                .info-wrapper {
                    justify-content: space-between;
                    flex-direction: row;
                }
            }

            .footer-navigation-section {
                width: 100%;
                flex-direction: column;
                padding: vars.$size3;

                #products-section {
                    width: 100%;
                    flex-direction: column;

                    .wrapper {
                        flex-direction: column;
                    }
                }
            }
        }

        .bottom-section {
            flex-direction: column;
            align-items: center;
        }
    }
    
}

