@use '../mixins';
@use '../vars';
@use '../type/index.scss';

.about-container {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    width: 85%;
    height: 85%;
    opacity: 1;
    transform: translateX(150%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999999;
    @include mixins.glass;
    padding: vars.$size5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$size4;
    z-index: 99;

    #about-sketch {
        position: absolute !important;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
        z-index: -1;
        // opacity: 0.1;
    }

    p {
        max-width: 70ch;
    }
}

.about-close {
    opacity: 1;
    transition: opacity 0.5s ease;
    height: 30px;
    width: 30px;
    position: absolute;
    top: vars.$size3;
    right: vars.$size3;
    z-index: 99999999;



    &:hover {
        opacity: 0.5;
    }

    .close-line {
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: vars.$content;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(45deg);
    }

    .close-line:nth-child(2) {
        transform: translateY(-50%) rotate(-45deg);
    }
}
